# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.envrc

# VS Code
.vscode/
.code-workspace

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Docker artifacts
*.log

# Local artifacts/output
artifacts/**
!artifacts/.gitkeep
